MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/finance_dashboard?retryWrites=true&w=majority"
JWT_SECRET="change_me"
REFRESH_TOKEN_SECRET="change_me_refresh"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="30d"
PORT=5000
